<a href="https://colab.research.google.com/github/YoonieJang/practice/blob/main/2_Pandas_MongDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## pymongo를 활용해 MongoDB와  python을 연결

### MongDB

- NoSQL Database중 하나로 사전 같은 객체를 사용하여 문서(Document)기반으로 데이터를 저장한다

공식 드라이버 pymongo 설치

In [ ]:
# !pip install --upgrade pymongo
!pip install --upgrade pymongo

In [ ]:
import mongo_conn

In [ ]:
from pymongo import MongoClient

### MongoDB 접속

In [ ]:
# mongoDB에 접속할 client 생성

client = mongo_conn.get_client()

### Database와 Collection

In [ ]:
# Database 찾아오기
# MongoDB는 여러 개의 데이터베이스를 가질 수 있고, 
# 각각의 데이터베이스는 여러 개의 컬렉션을 가질 수 있다

# DB 생성 (이미 존재하는 DB라면 Load)
test_database = client.Test
print(test_database)

# collection 생성 (이미 존재하는 Collection이라면 Load)
test_collection = test_database.test_collection
print(test_collection)

Database(MongoClient(host=['cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Test')
Collection(Database(MongoClient(host=['cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Test'), 'test_collection')

In [ ]:
# DB와 Collection을 Load하는 다른 방법

test_database = client.get_database('Test')
test_collection = test_database.get_collection('test_collection')

print(test_database, test_collection)

Database(MongoClient(host=['cluster0-shard-00-02-8m9q3.mongodb.net:27017', 'cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Test') Collection(Database(MongoClient(host=['cluster0-shard-00-02-8m9q3.mongodb.net:27017', 'cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Test'), 'test_collection')

In [ ]:
# DB 내의 Collection List 보기

collection_list = test_database.collection_names()
collection_list

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  This is separate from the ipykernel package so we can avoid doing imports until

['test_collection']

### Database CRUD

#### Insert

In [ ]:
# 컬렉션에 저장하기
test_collection.insert({'name':'grace'})

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('5bdd758b9b7e8a4908544ea6')

#### Find(= Select)

In [ ]:
# 컬렉션에서 읽어오기

# 전체 조회
cursor = test_collection.find()
print(list(cursor))

# 조건 조회 (name이 grace 인 데이터만 조회)
cursor = test_collection.find({'name':'grace'})
print(list(cursor))

# cursor는 1회 사용 후 휘발됨
print(list(cursor))

[{'_id': ObjectId('5bdd758b9b7e8a4908544ea6'), 'name': 'grace'}]
[{'_id': ObjectId('5bdd758b9b7e8a4908544ea6'), 'name': 'grace'}]
[]

#### Remove(= Delete)

In [ ]:
# 컬렉션에서 삭제하기
test_collection.remove({'name':'grace'})

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{'n': 1,
 'opTime': {'ts': Timestamp(1541240237, 1), 't': 7},
 'electionId': ObjectId('7fffffff0000000000000007'),
 'ok': 1.0,
 'operationTime': Timestamp(1541240237, 1),
 '$clusterTime': {'clusterTime': Timestamp(1541240237, 1),
  'signature': {'hash': b'\x9c\xda\x16\xe5\xb2\x0e\x8e2\x816\x01\x8fX\xf2\x05w\xf7\x11\xca\x8e',
   'keyId': 6605358658400288769}}}

In [ ]:
list(test_collection.find())

[]

In [ ]:
people = ['grace', 'kyle', 'john', 'tom', 'ellen']
city = ['seoul', 'newyork', 'london', 'paris']

In [ ]:
from random import *

for person in people:
    test_collection.insert({'name': person, 'age': randint(10, 80), 'address': city[randint(10, 80)%4]})

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

In [ ]:
list(test_collection.find())

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 43,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 62,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea9'),
  'name': 'john',
  'age': 10,
  'address': 'newyork'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'}]

#### Fileter

In [ ]:
# find 명령어에 조건을 입력하여 조회 가능
# $lt(less than): 미만
# $lte(less then equals): 이하
# $gt(grater than): 초과
# $gte(grater than equals): 이상
# $ne(not equeals): 같지않음

list(test_collection.find({'age': {'$gte': 40}}))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 43,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 62,
  'address': 'seoul'}]

In [ ]:
list(test_collection.find({'age': {'$lte': 40}}))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea9'),
  'name': 'john',
  'age': 10,
  'address': 'newyork'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'}]

In [ ]:
# 여러 조건 동시에 주기
# $and, $or

list(test_collection.find({'$and': [{'age': {'$gt': 30}}, {'address': 'newyork'}]}))

[]

In [ ]:
list(test_collection.find({'$or': [{'age': {'$lt': 25}}, {'address': 'seoul'}]}))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 43,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 62,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea9'),
  'name': 'john',
  'age': 10,
  'address': 'newyork'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'}]

In [ ]:
# 집합 조건

list(test_collection.find({'address': {'$in': ['seoul', 'london']}}))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 43,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 62,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'}]

In [ ]:
list(test_collection.find({'name': {'$nin': ['john', 'kyle']}}))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 43,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'}]

In [ ]:
# Key값의 존재 여부 조건

list(test_collection.find({'age': {'$exists': True}}))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 43,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 62,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea9'),
  'name': 'john',
  'age': 10,
  'address': 'newyork'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'}]

#### Update

In [ ]:
# update 명령어
# 2개의 argument 중 첫번째는 업데이트를 진행할 데이터의 조건
# 두번째는 업데이트하게 될 내용을 입력
# 단, 모든 데이터를 입력해야 함
# test_collection.update({'name': 'grace'}, {'age': 30}) 을 실행하면 {'age': 30}만 존재하는 Collection으로 변경됨
# 해당 조건 데이터가 없을 경우 insert하기를 원하면 upsert = True
# 동일한 조건의 여러 Collection을 모두 update하기를 원하면 multi = True

test_collection.update({'name': 'grace'}, {'name': 'grace', 'age': 5, 'address': 'london'})
list(test_collection.find({'name': 'grace'}))

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  if __name__ == '__main__':

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 5,
  'address': 'london'}]

In [ ]:
# 특정 field만 update하고 싶다면 $set 연산자를 이용

test_collection.update({'name': 'kyle'}, {'$set': {'age': 100}})
list(test_collection.find({'name': 'kyle'}))

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 100,
  'address': 'seoul'}]

#### Sort

In [ ]:
list(test_collection.find().sort('age', -1))

[{'_id': ObjectId('5bdd75b69b7e8a4908544ea8'),
  'name': 'kyle',
  'age': 100,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eab'),
  'name': 'ellen',
  'age': 21,
  'address': 'london'},
 {'_id': ObjectId('5bdd75b79b7e8a4908544eaa'),
  'name': 'tom',
  'age': 12,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea9'),
  'name': 'john',
  'age': 10,
  'address': 'newyork'},
 {'_id': ObjectId('5bdd75b69b7e8a4908544ea7'),
  'name': 'grace',
  'age': 5,
  'address': 'london'}]

#### Distinct

In [ ]:
list(test_collection.find().distinct('address'))

['london', 'seoul', 'newyork']

### MongoDB와 Pandas DataFrame

In [ ]:
# cursor = 객체를 가져오는 반복자를 반환해준다 
# 이를 통해 Dataframe으로 변환할 수 있다
import pandas as pd

test_collection_fields = ['name', 'age', 'address']
cursor = test_collection.find()
result = pd.DataFrame(list(cursor), columns = test_collection_fields)
result

    name  age  address
0  grace    5   london
1   kyle  100    seoul
2   john   10  newyork
3    tom   12    seoul
4  ellen   21   london

In [ ]:
list(test_collection.find())

[{'_id': ObjectId('5bdd50d09b7e8a2a38d11b8b'),
  'name': 'grace',
  'age': 5,
  'address': 'london'},
 {'_id': ObjectId('5bdd50d19b7e8a2a38d11b8c'),
  'name': 'kyle',
  'age': 100,
  'address': 'london'},
 {'_id': ObjectId('5bdd50d19b7e8a2a38d11b8d'),
  'name': 'john',
  'age': 40,
  'address': 'newyork'},
 {'_id': ObjectId('5bdd50d19b7e8a2a38d11b8e'),
  'name': 'tom',
  'age': 30,
  'address': 'seoul'},
 {'_id': ObjectId('5bdd50d19b7e8a2a38d11b8f'),
  'name': 'ellen',
  'age': 38,
  'address': 'london'}]

In [ ]:
test_collection.remove()

c:\users\kyle\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.

{'n': 10,
 'opTime': {'ts': Timestamp(1541240197, 10), 't': 7},
 'electionId': ObjectId('7fffffff0000000000000007'),
 'ok': 1.0,
 'operationTime': Timestamp(1541240197, 10),
 '$clusterTime': {'clusterTime': Timestamp(1541240197, 10),
  'signature': {'hash': b',\xbe\xaf\xaeB\x9c<+b&#,\xd3\xa9\xea\xf1{\xa2:\x8f',
   'keyId': 6605358658400288769}}}